* {
	margin: 0;
	padding: 0;
}

body {
	background: #f0f7fc;
	overflow: hidden;
}

/* Estilo para los formularios */
.form-group {
    margin-bottom: 15px;

}

/* Estilo para las etiquetas */
label {
    font-weight: bold;
    font-size: 16px;
    color: #333;
}

/* Estilo para los campos de entrada */
input.form-control {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilo para el botón */
.btn {
    display: inline-block;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    background-color: #007bff;
    border: 1px solid #007bff;
    display: block; /* Cambiado de inline-block a block */
    margin: 0 auto;
}

/* Estilo para el botón cuando se pasa el ratón por encima */
.btn:hover {
    background-color: #0056b3;
}

/* Estilo para el botón cuando se presiona */
.btn:active {
    background-color: #003f80;
}

/* Centrar los formularios */
.col-md-6 {
    margin: 0 auto;
    max-width: 300px; /* Ajusta el ancho máximo según tu diseño */
}
